{% extends 'index.html' %}
{% block title %}
    <title>Users List</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

{% endblock %}
{% block content %}
<div class="container">
    <table id="userTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
    <div  id="editfarmtoolbody" ></div>
</div>
 
    {% endblock %}

    {% block script %}

    <script type="text/javascript">
        $(document).ready(function() {
            var csrftoken = $('meta[name=csrf-token]').attr('content')
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        </script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url': '/users_data',
                },
                'columns': [
                    {'data': 'id'},
                    {'data': 'first_name'},
                    {'data': 'last_name'},
                    {'data': 'email'}
                ]
            });
        });
    </script>
    <script>
          $('#userTable').on('click', 'tbody tr', function() {
            var table = $('.dataTable').DataTable();
            var id = table.row(this).data().id;
            $.ajax({
                url: '/userdata/'+ id,
                type: 'GET',
                success: function(response){
                    console.log(response);
                    window.$('#editfarmtoolbody').html(response);
                },
                error: function(error){
                    console.log(error);
                }
            })});
    </script>
{% endblock %}

